body {
    background-color: #F1F3F6;
}

.shoppingcart__newwrapper{
    width: 95%;
    margin: auto;
    
}

.shoppingcart__wrapper{
    display: flex;
    flex-wrap: wrap; 
    /* border: 1px solid red; */
    
    
}

.shoppingcart__mycart{
    width: 60%;
    /* display: inline; */
    /* border: 2px solid violet; */
    padding: 1%;        
    margin-top: 1%;
    background-color: white;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shoppingcart__pricing{
    width: 30%;
    padding: 1%;
}

hr{

   border-top: 0px solid rgba(228, 222, 222, 0.63) ;
}